@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Rammetto+One:regular);
@media screen and (max-width: 375px) {
  span {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }
}
.box-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 450px;
  max-height: 600px;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #001d3d;
}
.box-content .perfil {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.box-content .perfil img {
  width: 80px;
  aspect-ratio: 1/1;
  border: 5px solid #003566;
  border-radius: 50%;
}
.box-content .perfil .perfil-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border: 5px solid #003566;
  border-radius: 1rem;
}
.box-content .perfil .perfil-infos p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  white-space: nowrap;
}
.box-content .perfil .perfil-infos p span {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  color: #ffc300;
}
.box-content .perfil .perfil-infos .button {
  width: 100%;
  height: fit-content;
  padding-block: 0.1rem;
  text-align: center;
  text-decoration: none;
  background-color: #ffc300;
  border-radius: 5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
}
nav ul li {
  width: 100%;
  padding-block: 0.5rem;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  background-color: #003566;
  border-radius: 0.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.home .about-me {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 0.5rem;
}
.home .about-me .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Rammetto One", cursive;
  white-space: nowrap;
  color: #ffc300;
}
.home .about-me .title hr {
  width: 100%;
  height: 5px;
  background-color: #003566;
  border: none;
  border-radius: 5rem;
}
.home .about-me .infos {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.home .about-me .infos ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.home .about-me .infos ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}
.home .about-me .infos ul li span {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-style: italic;
}
.home .about-me .infos ul li:nth-child(odd) {
  background-color: #003566;
}
.home .about-me .infos img {
  width: 25%;
}
.home .like-deslike {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
.home .like-deslike .like, .home .like-deslike .deslike {
  display: flex;
  flex-flow: column;
  height: 50%;
}
.home .like-deslike .like .title, .home .like-deslike .deslike .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Rammetto One", cursive;
  white-space: nowrap;
  color: #ffc300;
}
.home .like-deslike .like .title hr, .home .like-deslike .deslike .title hr {
  width: 100%;
  height: 5px;
  background-color: #003566;
  border: none;
  border-radius: 5rem;
}
.home .like-deslike .like .content, .home .like-deslike .deslike .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home .like-deslike .like .content img, .home .like-deslike .deslike .content img {
  width: 25%;
}
.home .like-deslike .like .content div, .home .like-deslike .deslike .content div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: fit-content;
}
.home .like-deslike .like .content div p, .home .like-deslike .deslike .content div p {
  background-color: #003566;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  border-radius: 0.4rem;
}

.favs {
  height: 100%;
  display: none;
}

.edits {
  height: 100%;
  display: none;
}

.pride {
  height: 100%;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

html {
  height: 100%;
}
html body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000814;
}

main {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
