nav {
    ul {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        list-style: none;

        li {
            width: 100%;
            padding-block: .5rem;
            font-size: 12px;
            font-weight: bolder;
            text-align: center;
            background-color: $primaryComplement;
            border-radius: .5rem;
        }
    }
    
}