// Colors
$primaryColor: #001d3d;
$primaryComplement: #003566;
$secondaryColor: #ffc300;
$secondaryComplement: #ffd60a;
$bg: #000814;

// Font
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Rammetto+One:regular);
$fontFamilyOne: 'Quicksand', sans-serif;
$fontFamilyTwo: 'Rammetto One', cursive;
$fontColor: #FFFFFF;
